services:
  # 1. データベース(MySQL)
  db:
    image: mysql:8.0
    container_name: kakeibo_db
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
    ports:
      - "3306:3306"
    volumes: 
      - db_data:/var/lib/mysql

  backend:
    container_name: kakeibo_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    environment:
      DATABASE_URL: '${DATABASE_URL}'

  frontend: 
    container_name: kakeibo_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports: 
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  db_data: